<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loginpage"
    android:versionCode="7"
    android:versionName="1.6" >
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />	 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/uygulamaikonu"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        
        
                 <activity
            android:name="com.startupscreen.StartupPage"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
        
        
         <activity
            android:name="com.loginpage.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
                 <activity
            android:name="com.signinpage.Signin"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.SIGNIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
        
                         <activity
            android:name="com.signinpage.ProfilPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PROFILPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
                  <activity
            android:name="com.loginpage.AuthenticationPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.AUTHENTICATIONPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
                  <activity
            android:name="com.usermenu.UserInformation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.USERINFORMATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
                                    <activity
            android:name="com.gpstracking.AndroidGPSTrackingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.ANDROIDGPSTRACKINGACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
              <activity
              
            android:name="com.androidbegin.jsonparsetutorial.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
                            <activity
            android:name="com.androidbegin.jsonparsetutorial.SingleItemView"
            android:label="@string/app_name"
            
             >
            <intent-filter>
                <action android:name="android.intent.action.SINGLEITEMVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
                                                        <activity
            android:name="com.uygun.gidelim.LocationSelector"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
             >
            <intent-filter>
                <action android:name="android.intent.action.LOCATIONSELECTOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
                                                       <activity
            android:name="com.yolcuarama.jsonparser.Yolcuarama_MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
             >
            <intent-filter>
                <action android:name="android.intent.action.YOLCUARAMA_MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
                              <activity
            android:name="com.yolcuarama.jsonparser.Yolcuarama_SingleItemView"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
             >
            <intent-filter>
                <action android:name="android.intent.action.YOLCUARAMA_SINGLEITEMVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
                                                                                                                
        

        
            <meta-data android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCv-nmEDD1YU1fQMyCa8UCSHAiFiOS87WU"/>
                            
      //eski api-build Api
        //AIzaSyCCizoAr_4mlLdEvRd0FIbLf5_pWCF0JmM
        
        //yeni api-release Api
          //AIzaSyCv-nmEDD1YU1fQMyCa8UCSHAiFiOS87WU
          


        
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="1784aa0cafa15af39a4043179e28952225d66c0f" />
    </application>

</manifest>
